<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blogs</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header class="site-header">
        <h1><a href="/">Blog App</a></h1>
    </header>
    
    <main>
        <div id="blogsContainer">
            <!-- Blogs will be dynamically loaded here -->
        </div>
    </main>
    
    <footer class="site-footer">
        <p>&#169; <span id="currentYear"></span> Made With ❤️ | All Right Reserved</p>
    </footer>

    <script src="../public/js/scripts.js"></script>
</body>
</html>
